*{
    background-color: black;
    margin: 0px;
    padding: 0px;

}
#p1{
    color:#ffffff;
    background-image: url('./photos/albay\ tourist\ spot.jpg');
    font-size: 90px;
    border-style:groove;
    padding: 10px;
    width: 100%;
    height: 800px;
    background-size: 100% 100%;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.title{
    color: rgb(255, 255, 255);
    font-size: 52px;
    position: absolute;
    bottom: 60%;
    left: 10%;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;

}
.description{
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    bottom: 45%;
    left: 150px;
    background-color: transparent;
    font-family: Times New Roman, Times, 'serif';
    width: 40%;
    height: 90px;
    text-align: justify;

}

.image{
    width: 400px;
    height: 350px;
    background-image: url(./photos/legazpi.jpg);
    background-size: 100% 100%;
    position: absolute;
    bottom: 20%;
    left: 55%;
    border: 2px rgb(51, 21, 21) solid;
    border-radius: 50%;
}