.container{
    width: 500px;
    align-items: center;
    background: #6b6b6b;
    color: white;
    
}
input{
    background: #ffffff;
    color: white;
}
b{
    align-items: flex-start;
    text-align: right;
}